/* NAVBAR ====================== */

.nav-wrapper a {
  color: #000000;
}
.brand-logo,
#nav-mobile {
  margin: 0 6vw;
}
#nav-mobile li {
  font-weight: 500;
}
.nav-wrapper span {
  color: #26a69a;
  font-weight: 500;
}
.username {
  color: #000000;
  font-weight: 600;
  margin: 0 0 10px 0;
}

/* SIGNIN AND SIGNUP ====================== */

.signInCard,
.signUpCard {
  width: 40%;
  margin: auto;
  margin-top: 8vw;
}
.signInCard .card,
.signUpCard .card {
  text-align: center;
}
.signInCard .card h1,
.signUpCard .card h1 {
  color: #26a69a;
  font-size: 2.8vw;
  font-weight: 600;
}
.signInCard .card h1:hover,
.signUpCard .card h1:hover {
  color: #26a699bb;
}
.signInCard .card,
.signUpCard .card {
  padding: 0.1vw 3vw 3vw 3vw;
}
.signInCard .btn,
.signUpCard .btn {
  margin: 2vw 0 0 0;
}
.alreadyHaveAnAccount {
  font-weight: 600;
  margin-top: 2vw;
}

/* HOME ====================== */
.createChallenge {
  margin: 2vh 5vw;
  display: flex;
  color: #26a69a;
  padding: 8px 12px;
  border: #000000;
  width: fit-content;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
.createChallenge:hover {
  color: rgb(5, 110, 100);
}

/* PROFILE ===================== */

.profileWrapper {
  margin: 4vw 0;
  width: 70vw;
  margin: auto;
}
.profileWrapper > div {
  margin: 2vw 0;
}
.profileWrapper .heading {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.policyName .name {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  align-items: center;
}
.policyName .name img {
  margin: auto;
  width: 4.5vw;
  padding: 0.5vw;
  border-radius: 50%;
  box-shadow: 0 0 6px #00000085;
}
.policyName .name h2 {
  font-size: 2.5vw;
}
.heading .yearReturn {
  margin: auto;
}
.heading .policyFeed span {
  margin: 0 1vw;
  color: #6d6d75;
  font-weight: 500;
  box-shadow: none;
  align-items: center;
  border: 1px solid #a8a8a8;
  background-color: white;
}
.heading .policyFeed #star {
  border: none !important;
}
.heading .policyFeed #star i {
  font-size: 0.9vw;
  color: rgb(255, 186, 27);
}
.heading .percentReturn h2 {
  font-size: 2vw;
  font-weight: 700;
}
.heading .oneYearReturn h6 {
  color: #6d6d75;
  font-weight: 400;
}
.profileWrapper .sparkline {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profileWrapper .sparklineData {
  width: 100%;
  margin: auto;
}
.profileWrapper .policyDetails p {
  line-height: 2vw;
  font-size: 1.1vw;
  color: #6d6d75;
  padding: 0.5vw 2vw;
}
.profileWrapper .policyDetails p::first-letter {
  font-size: 2vw;
}
.profileWrapper .fundDetails,
.profileWrapper .prosCons {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: repeat(2, 1fr);
}
.profileWrapper .fundDetails .collection-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.fundDetails .collection-item,
.prosCons .collection-item {
  font-weight: 500;
  font-size: 1.1vw;
}
.fundDetails .collection li div:not(:first-child),
.prosCons .collection li span {
  font-size: 1vw;
  font-weight: 500;
  color: #6d6d75;
}
.aboutPolicy p {
  line-height: 2vw;
  font-size: 1.1vw;
  color: #6d6d75;
}

/* CHALLENGES ===================== */

.dropdown {
  border-color: white;
}

.challengeContainer {
  width: 30%;
  margin: 100px auto;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.1);
}

.challengeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* CHALLENGE DETAILS ===================== */

.mainContainer {
  width: 60%;
  margin: 100px auto;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.1);
}

.createdDate {
  font-size: 12px;
  color: #26a69a;
}

.recmdFor {
  font-size: 22px;
  font-weight: 700;
  color: #26a69a;
}

.challengeTitle {
  font-size: 12px;
  font-weight: 600;
  color: #a7a7a7;
  margin-top: 1%;
}

.challengeDesc {
  font-size: 16px;
  font-weight: 600;
  color: #a7a7a7;
  margin-top: 4%;
}

/* HOME ===================== */

.mainCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2% 2% 0% 0%;
  padding: 2% 1%;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 10%) 3px 6px 24px;
}

.cardRecommend {
  font-size: 22px;
  font-weight: 700;
  color: #26a69a;
}

.cardTitle {
  font-size: 12px;
  font-weight: 600;
  color: #a7a7a7;
}

@media only screen and (max-width: 768px) {
  .challengeContainer {
    width: 90%;
    padding: 40px 20px;
  }
}
