/* NAVBAR ====================== */

.nav-wrapper a {
  color: #000000;
}
.brand-logo,
#nav-mobile {
  margin: 0 6vw;
}
#nav-mobile li {
  font-weight: 500;
}
.nav-wrapper span {
  color: #26a69a;
  font-weight: 500;
}
.username {
  color: #000000;
  font-weight: 600;
  margin: 0 0 10px 0;
}

/* SIGNIN AND SIGNUP ====================== */

.signInCard,
.signUpCard {
  width: 40%;
  margin: auto;
  margin-top: 8vw;
}
.signInCard .card,
.signUpCard .card {
  text-align: center;
}
.signInCard .card h1,
.signUpCard .card h1 {
  color: #26a69a;
  font-size: 2.8vw;
  font-weight: 600;
  /* text-align: center; */
}
.signInCard .card h1:hover,
.signUpCard .card h1:hover {
  color: #26a699bb;
}
.signInCard .card,
.signUpCard .card {
  padding: 0.1vw 3vw 3vw 3vw;
}
.signInCard .btn,
.signUpCard .btn {
  margin: 2vw 0 0 0;
  /* align-items: center; */
}
.alreadyHaveAnAccount {
  font-weight: 600;
  margin-top: 2vw;
}

/* ERROR MESSAGES ================= */
/* #toast-container {

   
} */

/* LOGOUT BUTTON ====================== */
/* .logOutBtn {
  color: red
} */

/* HOME ====================== */
.createChallenge {
  /* border: 1px solid red; */
  text-align: center;
  margin: 2vh 5vw;
  width: fit-content;
  font-weight: 600;
  display: flex;
  padding: 8px 12px;
  border: #000000;
  border-radius: 10px;
  color: #26a69a;
  /* background-color: rgb(216, 216, 216); */
}
.createChallenge:hover {
  color: rgb(5, 110, 100);
  /* background-color: rgb(110, 110, 110); */
}

/* PROFILE ===================== */

.profileWrapper {
  margin: 4vw 0;
  width: 70vw;
  margin: auto;
}
.profileWrapper > div {
  margin: 2vw 0;
}
.profileWrapper .heading {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.policyName .name {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  align-items: center;
}
.policyName .name img {
  border-radius: 50%;
  width: 4.5vw;
  padding: 0.5vw;
  margin: auto;
  box-shadow: 0 0 6px #00000085;
}
.policyName .name h2 {
  font-size: 2.5vw;
}
.heading .yearReturn {
  margin: auto;
}
.heading .policyFeed span {
  margin: 0 1vw;
  align-items: center;
  background-color: white;
  color: #6d6d75;
  font-weight: 500;
  border: 1px solid #a8a8a8;
  box-shadow: none;
}
.heading .policyFeed #star {
  border: none !important;
}
.heading .policyFeed #star i {
  font-size: 0.9vw;
  color: rgb(255, 186, 27);
}
.heading .percentReturn h2 {
  font-weight: 700;
  font-size: 2vw;
}
.heading .oneYearReturn h6 {
  color: #6d6d75;
  font-weight: 400;
}
.profileWrapper .sparkline {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profileWrapper .sparklineData {
  width: 100%;
  margin: auto;
}
.profileWrapper .policyDetails p {
  padding: 0.5vw 2vw;
  line-height: 2vw;
  font-size: 1.1vw;
  color: #6d6d75;
}
.profileWrapper .policyDetails p::first-letter {
  font-size: 2vw;
}
.profileWrapper .fundDetails,
.profileWrapper .prosCons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3vw;
}
.profileWrapper .fundDetails .collection-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.fundDetails .collection-item,
.prosCons .collection-item {
  font-weight: 500;
  font-size: 1.1vw;
}
.fundDetails .collection li div:not(:first-child),
.prosCons .collection li span {
  font-weight: 500;
  color: #6d6d75;
  font-size: 1vw;
}
.aboutPolicy p {
  /* padding: 0.5vw 2vw; */
  line-height: 2vw;
  font-size: 1.1vw;
  color: #6d6d75;
}

/* CHALLENGES ===================== */

.dropdown {
  /* height: 20px; */
  border-color: white;
}

/* 3px 6px 24px rgba(0,0,0,0.1) */
